[Unit]
Description=MySQL Server
After=syslog.target
After=network.target

[Service]
Type=simple
ExecStart={{ MYSQL_PREFIX }}/bin/mysqld --user={{ MYSQL_USER }}
TimeoutSec=300
User={{ MYSQL_USER }}
Group={{ MYSQL_GROUP }}

[Install]
WantedBy=multi-user.target
